<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="example.myapplication1.healthassistant">
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HealthAssistant"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".StatActivity"
            android:exported="false" />
        <activity
            android:name=".LogActivity"
            android:exported="false" />
        <activity
            android:name=".RegActivity"
            android:exported="false" />
        <activity
            android:name=".DailyCalendarActivity"
            android:exported="false" />
        <activity android:name=".EventEditActivity" />
        <activity android:name=".WeekViewActivity" />
        <activity
            android:name=".DoblekActivity"
            android:exported="false" />
        <activity
            android:name=".cal"
            android:exported="false" />
        <activity
            android:name=".vod"
            android:exported="false" />
        <activity
            android:name=".prof"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".StartActivity"
            android:exported="false"
            />
        <activity
            android:name=".SplashScreen"
            android:exported="true"
            android:theme="@style/SplashTheme"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <receiver android:name=".alarm.AlarmReceiver" />
    </application>

</manifest>